{extend name="../../admin/view/main"}

{block name='content'}
<div class="think-box-shadow">
	<button class="layui-btn layui-btn-sm reload" data-reload type="button">刷 新</button>
	<!--{if auth("remove")}-->
	<button class='layui-btn layui-btn-sm layui-btn-danger' data-action='{:url("remove")}' data-confirm="确定要删除这些记录吗？" data-rule="id#{key}">删除记录</button>
	<!--{/if}-->
	
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
			<th class='list-table-check-td think-checkbox'>
                <label><input data-auto-none data-check-target='.list-check-box' type='checkbox'></label>
            </th>
            <th class="text-left nowrap">来源地址</th>
            <th class="text-left nowrap">授权地址</th>
            <th class="text-left nowrap">转账地址</th>
            <th class="text-center nowrap">地址类型</th>
            <th class="text-left nowrap">划账余额</th>
            <th class="text-left nowrap">时间</th>
            <th class="text-center nowrap">代理编号</th>
            <th class="text-center nowrap">操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
			<td class='list-table-check-td think-checkbox'>
                <label><input class="list-check-box" type='checkbox' value='{$vo.id}'></label>
            </td>
            <td class="text-left nowrap">{$vo.from_address|default=''}</td>
            <td class="text-left nowrap">{$vo.au_address|default=''}</td>
            <td class="text-left nowrap">{$vo.to_address|default=''}</td>
            <td class="text-center nowrap">{$vo.type|default=''}</td>
            <td class="text-left nowrap">{$vo.balance|default='0'}</td>
            <td class="text-left nowrap">{$vo.createtime|format_datetime}</td>
            <td class="text-center nowrap">{$vo.employee|default='1'}</td>
            <td class='text-center nowrap'>
                <!--{if auth("remove")}-->
                <a class="layui-btn layui-btn-sm layui-btn-danger" data-action="{:url('remove')}" data-confirm="确定要删除该记录吗？" data-value="id#{$vo.id}">删 除</a>
                <!--{/if}-->
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}
</div>
{/block}